# Introducci贸n:

En esta lecci贸n, exploraremos c贸mo utilizar SQL en conjunci贸n con Python para llevar a cabo operaciones de extracci贸n de datos. Aprenderemos a conectarnos a bases de datos, ejecutar consultas SQL para recuperar informaci贸n espec铆fica, y luego procesar y utilizar esos datos dentro del entorno de Python. Ya sea que desees obtener informaci贸n de una base de datos empresarial, extraer datos para an谩lisis o realizar tareas de ETL (Extract, Transform, Load), esta lecci贸n te proporcionar谩 las habilidades necesarias para realizar estas tareas de manera efectiva y eficiente.

#  Conexi贸n a una Base de Datos MySQL desde Python:

En esta secci贸n, aprenderemos c贸mo establecer una conexi贸n con una base de datos MySQL existente desde un script de Python utilizando el constructor de la clase `connect()`.

El constructor `connect()` es esencial para crear una conexi贸n con un servidor MySQL y devuelve un objeto de tipo `MySQLConnection`. A trav茅s de un ejemplo pr谩ctico, exploraremos c贸mo utilizarlo de manera efectiva.

 **NOTA IMPORTANTE**  Si encuentras un error al ejecutar la celda a continuaci贸n, sigue estos pasos en tu terminal:

1. Ejecuta `pip install mysql-connector`.

2. Luego, ejecuta `pip install mysql-connector-python`.

Aseg煤rate de que la terminal muestra "base" y que en Jupyter, en la parte superior derecha, se muestra "base (y la versi贸n de Python)". Despu茅s de estos pasos, vuelve a ejecutar la celda.

## Descripci贸n de los Argumentos de *`connect()`:*

Antes de comenzar, exploremos algunos de los argumentos clave que utilizaremos al conectar a una base de datos utilizando el constructor `connect()`.

- `user`: Este argumento se refiere al nombre de usuario que se utilizar谩 para autenticarse en el servidor MySQL.

- `password`: Aqu铆 debemos proporcionar la contrase帽a correspondiente al usuario para la autenticaci贸n en el servidor MySQL.

- `database`: Es el nombre de la base de datos a la que deseamos conectarnos.

- `host`: Este argumento se utiliza para especificar el nombre del servidor MySQL o la direcci贸n IP a la que nos conectaremos. Por defecto, este valor es "localhost", que se refiere a la misma m谩quina en la que se ejecuta el c贸digo (127.0.0.1 es la direcci贸n IP equivalente).

- `port`: El puerto TCP/IP del servidor MySQL. Debe ser un n煤mero entero y, por defecto, se establece en 3306.


Existen m谩s argumentos que son opcionales o que se usar谩n cuando queramos configurar la conexi贸n de una manera muy concreta. Pod茅is consultar la descripci贸n de todos los par谩metros [aqu铆](https://dev.mysql.com/doc/connector-python/en/connector-python-connectargs.html).

In [ ]:
# Importar librer铆a para la conexi贸n con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librer铆as para manipulaci贸n y an谩lisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

In [ ]:
# ahora creamos la conexi贸n con los argumentos:

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')

print(cnx)
cnx.close()

En ocasiones podemos sufrir errores de conexi贸n, por lo que es interesante a帽adir manejo de excepciones al c贸digo anterior. Usando *errorcode* podemos crear casos para cada tipo de error posible:

In [ ]:
# En este c贸digo estamos haciendo un try except. Si recordamos esto nos permit铆a hacer un manejo de los errores, para evitar que nuestro c贸digo se pare. Para eso lo que estamos haciendo es
## intenta hacer la conexi贸n son la base de datos de tienda 
try:
  cnx = mysql.connector.connect(user='root', password='admin',
                              host='127.0.0.1',
                              database='tienda')
# en caso de que no lo consigas por que hay alg煤n error entonces ...
except mysql.connector.Error as err:

  # si es un error con la contrase帽a devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contrase帽a
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # si el error no tiene que ver con la contrase帽a, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexi贸n
  else:
    print(err)
else:
  cnx.close()

## Desconexi贸n de la base de datos usando MySQLConnector

Una vez hayamos terminado de realizar las consultas o trabajar de cualquier modo con la base de datos a la que nos hemos conectado con el connector, tendremos que desconectarnos usando el m茅todo *close()*:

In [ ]:
# En este caso vamos a pasarle los atributos al conector usando un diccionario:

config = {
  'user': 'root',
  'password': 'AlumnaAdalab',
  'host': '127.0.0.1',
  'database': 'tienda',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cnx.close()

En este fragmento de c贸digo, hemos establecido la conexi贸n `cnx` con la base de datos "tienda". Con esta conexi贸n, podemos llevar a cabo consultas sobre los datos almacenados en sus tablas (m谩s adelante exploraremos c贸mo hacerlo). Cuando hayamos finalizado nuestras operaciones y deseemos desconectarnos, ser谩 necesario utilizar el m茅todo `close()` del objeto connector que hemos definido, en este caso llamado `cnx`. Es importante destacar que este m茅todo no requiere argumentos, lo que lo hace de uso sencillo.

# Realizaci贸n de queries usando MySQLConnector:

Una vez que creamos la conexi贸n con mysql, vamos a usar el m茅todo *cursor()* y *execute()* para poder realizar las queries.

El m茅todo cursor() se utiliza para crear un objeto de cursor, que es esencial para ejecutar consultas SQL en una conexi贸n de base de datos. Una vez que tienes un objeto de cursor, puedes utilizar el m茅todo execute() para enviar una consulta SQL al servidor MySQL y ejecutarla.

In [ ]:
# realizamos la conexi贸n con la BBDD que queremos
cnx = mysql.connector.connect(user='root', password='admin',
                              host='127.0.0.1',
                              database='tienda')

# iniciamos el cursor                               
mycursor = cnx.cursor()

# query de ejemplo:

query = ("""SELECT city, state FROM customers 
         WHERE customer_number BETWEEN 121 AND 124""")

# luego llamamos al m茅todo execute() del cursor, al que pasamos como argumento el string que contiene la consulta.
## De esta manera se ejecuta la consulta en la base de datos y si todo va correctamente, el resultado se almacenar谩 en el cursor.
mycursor.execute(query)

En el *execute()* podemos pasar cualquier tipo de query: crear tablas, alterar tablas, insertar datos,... vamos a verlo con unos ejemplos.

Vamos a aprovechar para introducir el manejo de excepciones a la hora de trabajar con MySQL Connector/Python.

- Crear Bases de Datos:

In [ ]:
cnx = mysql.connector.connect(user='root', password='admin',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE BD_pruebas")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

**Ojo:** al realizar la conexi贸n, no le hemos indicado ninguna bases de datos, ya que la estamos creando.

En este ejemplo, estamos estableciendo la conexi贸n y creando el *cursor*, despu茅s intentamos crear la base de datos "BD_pruebas". Si no se puede crear, nos dar谩 un mensaje con el error que ha ocurrido.

Si ejecutamos dos veces esta celda, nos dar谩 un aviso diendo que la base de datos ya existe.

- Creaci贸n de tablas:

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

Ahora s铆 hemos establecido la base de datos sobre la que estamos trabajando, por lo dem谩s, este c贸digo es igual que el anterior, cambiando la query para crear una tabla en nuestra base de datos.

- Inserci贸n de datos:

Ahora que hemos completado la creaci贸n de una base de datos, hemos definido una tabla con sus columnas y restricciones correspondientes, estamos listos para comenzar a agregar registros a esta tabla.

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas')


mycursor = cnx.cursor()
query = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Ana", "Calle 21")
try: 
    mycursor.execute(query, val)
    cnx.commit()
    print(mycursor.rowcount, "registro insertado.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

Seguimos trabajando sobre BD_pruebas. Ahora hemos definido nuestra query para la inserci贸n de datos en la que hemos incluido `%s` por cada uno de los valores que vamos a introducir. Despu茅s, definimos una variable en la que van los datos que queremos insertar en forma de tupla.

Esta vez, en el *execute()* hemos pasado dos argumentos: el primero con la query y el segundo con los valores.

**Uso de commit:** A la hora de trabajar con sentencias INSERT es necesario el uso de *commit()* para que los cambios se efectuen en la base de datos. De no llamar a ese m茅todo, las inserciones no se llevar谩n a cabo.

- Inserci贸n de m煤ltiples registros:

En el ejemplo anterior hemos introducido una 煤nica fila en nuestra base de datos. Si queremos insertar m煤ltiples filas tenemos que usar *executemany()* y definir una variable con todos los datos que queremos insertar en forma de lista de tuplas.

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas')


mycursor = cnx.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Ana', 'Lowstreet 4'),
  ('Rocio', 'Apple st 652'),
  ('Juana', 'Mountain 21'),
  ('Pedro', 'Valley 345')
]

try: 
    mycursor.executemany(sql, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

- Eliminar registros de una tabla:

**Uso de rollback:** Si despu茅s de haber realizado una transacci贸n con *execute()* nos di茅semos cuenta de que los datos que hemos introducido son incorrectos en alguna manera, si a煤n no hemos ejecutado *commit()* podr铆amos dar marcha atr谩s y desestimar los cambios usando *rollback()*:

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas')


mycursor = cnx.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Lucia", "Plaza 22")
try:
    mycursor.execute(sql, val)
    cnx.rollback()
    print(mycursor.rowcount, "registro no insertado.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.execute("SELECT * FROM customers")  
results = mycursor.fetchall()
print(results)

Si ya hemos ejecutado *commit()* y queremos eliminar un registro de una tabla existente, usaremos *execute()* con la sentencia "DELETE FROM" de la siguiente manera:

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas')


mycursor = cnx.cursor()
sql = "DELETE FROM customers WHERE address = 'Calle 21'"
try:
    mycursor.execute(sql)
    cnx.commit()
    print(mycursor.rowcount, "registro/s eliminado/s")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

- Actualizar una tabla:

Tambi茅n podemos actualizar registros de la misma forma que lo har铆amos en SQL con la sentencia "UPDATE":

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas')


mycursor = cnx.cursor()
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"
try:
    mycursor.execute(sql)
    cnx.commit()
    print(mycursor.rowcount, "registro/s modificado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

**NOTA:** siempre que hagamos cualquier modificaci贸n sobre los registros tenemos que usar *commit()* para que esos cambios se hagan efectivos.

# Modos de acceso a los resultados de la consulta:

El uso de *execute()* convierte el *cursor* en un iterable al que podemos acceder de varias maneras. Podemos recorrer sus elementos uno por uno como si fuera una lista utilizando un bucle for.

In [ ]:
# conectamos con el servidor
cnx = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='tienda'
)

# creamos el servidor
mycursor = cnx.cursor()

# ejecutamos la query para ver las tablas de la BBDD que hemos indicado en la conexi贸n
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

En el ejemplo vemos como iterando por el *cursor* hemos accedido a todos los resultados de la query uno por uno y nos lo devuelve en forma de tupla.
Sin embargo, MySQL Connector/Python tambi茅n proporciona formas espec铆ficas de hacerlo de manera m谩s eficiente y conveniente.

## M茅todo fetchone()

Si deseamos acceder a la primera fila del resultado, podemos utilizar el m茅todo *fetchone()*. Este m茅todo recuperar谩 la primera fila del resultado de la consulta y avanzar谩 el cursor al siguiente registro. Como resultado, la pr贸xima vez que utilicemos el m茅todo *fetchone()* en el mismo cursor, se mostrar谩n datos diferentes. Ve谩moslo con un ejemplo:

In [ ]:
# conectamos con el servidor
cnx = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin",
  database="tienda"
)

# iniciamos el cursor
mycursor = cnx.cursor()

# ejecutamos nuestra query
mycursor.execute("SELECT * FROM employees")

# en este caso solo nos interesa el primer resultado de nuestra query, por lo que usaremos el m茅todo fetchone, para que python solo nos devuelva el primero y despu茅s printemos el resultado
myresult = mycursor.fetchone()
print("el resultado 1 es: ", myresult)

# volvemos a ejecutar el m茅todo fetchone, como ya nos mostr贸 el primer resultado, y no hemos cerrado la conexi贸n, al volver a ejecutarlo, nos mostrar谩 el segundo resultado. Pero si nos fijamos, lo hace de uno en uno. 
myresult = mycursor.fetchone()
print("el resultado 2 es: ",myresult)

**Ojo:** si no cerramos la conexi贸n, cada vez que ejecutemos *fetchone()* pasar谩 al siguiente registro y nos ir谩 devolviendo los datos uno a uno.

## M茅todo fetchall()

En cambio, si deseamos seleccionar todos los resultados devueltos por una consulta SQL, podemos utilizar el m茅todo *fetchall()*:

In [ ]:
# conectamos con el servidor
cnx = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="tienda"
)

# iniciamos el cursor
mycursor = cnx.cursor()

# realizamos nuestra query
mycursor.execute("SELECT * FROM employees")

# le decimos a Python que nos devuelva todos los resultados de la query usando el m茅todo fetchall
myresult = mycursor.fetchall()
print(myresult)

Podemos ver que nos devuelve una lista de tuplas, en la que cada tupla es una fila de nuestra consulta.

Si quisieramos acceder a cada registro de los resultados, podemos hacerlo usando myresult como un iterable. Esto nos devolver谩 cada fila resultado como una tupla:

In [ ]:
# conectamos con el servidor
cnx = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="tienda"
)

# iniciamos el cursor
mycursor = cnx.cursor()

# realizamos la query
mycursor.execute("SELECT * FROM employees")

# le pedimos que almacene todos los resultados
myresult = mycursor.fetchall()

# accedemos a cada fila de una en una usando un bucle for. Fijaos que nos devuelve tuplas!!!
for x in myresult:
  print(x)

# Integraci贸n de resultados de MySQL Connector/Python con Pandas

**驴Qu茅 es Pandas?**

Pandas es una destacada biblioteca de Python que se utiliza ampliamente en la gesti贸n y manipulaci贸n de datos. Es especialmente 煤til cuando se trabaja con datos estructurados dispuestos en forma de tablas, como los que se almacenan en bases de datos SQL o hojas de c谩lculo de Excel. Pandas permite cargar, limpiar y procesar estos datos, extrayendo informaci贸n valiosa y combinando diversas fuentes de datos, entre muchas otras tareas.
La estructura fundamental para trabajar con datos en Pandas se denomina DataFrame.

En esta secci贸n de la lecci贸n, exploraremos c贸mo importar datos desde una base de datos MySQL a un DataFrame de Pandas y realizaremos algunas operaciones simples con estos datos. En lecciones futuras, profundizaremos en Pandas y su uso en detalle. El prop贸sito de los ejemplos que siguen es brindarte una comprensi贸n s贸lida de c贸mo integrar MySQL Connector/Python con Pandas.

## Crear un DataFrame de Pandas desde una sentencia SQL:

Como mencionamos anteriormente, Pandas ofrece una integraci贸n sencilla con una variedad de formatos de archivo y fuentes de datos, como archivos CSV, Excel, JSON y bases de datos SQL, entre otros. Por ejemplo, para cargar datos desde una base de datos SQL, puedes ejecutar el siguiente fragmento de c贸digo, que incluye una llamada al constructor de DataFrames:

In [ ]:
# primero tenemos que importar la libr铆a

import pandas as pd

In [ ]:
# hacemos la conexi贸n con el servidor
cnx = mysql.connector.connect(user='root', password='admin',
                              host='127.0.0.1',
                              database='tienda')

# iniciamos el cursor
mycursor = cnx.cursor()

# ejecutamos nuestra query
mycursor.execute("SELECT * FROM employees")

# le decimos que nos devuelva todos los resultados y los almacenamos en una variable llamada myresult
myresult = mycursor.fetchall()

#Creamos un dataframe con los resultados de la consulta SQL almacenados en myresult. Si os fijais le estamos pasando un par谩metro llamado "columns" donde estamos especificando cu谩les son las columnas de lo que ser谩 nuestro dataframe
df = pd.DataFrame(myresult, columns = ['ID', 'Nombre', 'Apellido','Email','Telefono','Direccion','Ciudad','Pais'])

#Cerramos la conexion
cnx.close()

In [ ]:
# mostramos las primeras filas del dataframe usando el m茅todo .head()

df.head()

Otra opci贸n m谩s directa para ver los resultados de nuestra query en un DataFrame consiste en encargarle a Pandas directamente la ejecuci贸n de la consulta SQL. Para ello usaremos el m茅todo *read_sql_query()* como vemos a continuaci贸n:

In [ ]:
# realizamos la conexi贸n con el servidor
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')


# escribimos nuestra query
sql = "SELECT * FROM employees"

# utilizamos el m茅todo pd.read_sql_qury() para convertir los resultados de nuestra query en un DataFrame que podamos ver de forma amigable en Python
df = pd.read_sql_query(sql, cnx)

#Lo siguiente es un wrap up que funciona tanto con una tabla como con una consulta SQL.
#pd.read_sql(sql, cnx)

#Cerramos la conexion
cnx.close()

In [ ]:
# mostramos las primeras filas del dataframe usando el m茅todo .head()

df.head()

## Guardado de datos:

Una vez que tenemos nuestro Dataframe podemos guardarlo en diferentes formatos. En este caso lo vamos a guardar en *csv*:

In [ ]:
df.to_csv("fichero.csv")

Para poder guardarlo, usamos *.to_csv()* y especificamos el nombre de nuestro fichero con la extensi贸n. M谩s adelante aprenderemos c贸mo guardar los datos en diferentes formatos.

## Intro Pandas

Pandas, la biblioteca de Python dedicada a la gesti贸n y an谩lisis de datos, se destaca por sus numerosas caracter铆sticas fundamentales:

- Introduce innovadoras estructuras de datos basadas en los arrays de NumPy, enriqueci茅ndolas con capacidades avanzadas.

- Facilita la lectura y escritura de datos en formatos populares como CSV, Excel y bases de datos SQL, simplificando la manipulaci贸n de datos externos.

- Proporciona una accesibilidad excepcional a los datos a trav茅s de 铆ndices y etiquetas para filas y columnas, simplificando la navegaci贸n en conjuntos de datos complejos.

- Ofrece una amplia gama de m茅todos para reorganizar, dividir y fusionar conjuntos de datos, lo que agiliza la manipulaci贸n de datos seg煤n tus necesidades.

- Permite un manejo eficiente de series temporales, lo que resulta esencial para el an谩lisis de datos relacionados con el tiempo.

En este apartado vamos a aprender a utilizar m茅todos como head(), tail(), describe(), entre otros, para obtener informaci贸n relevante de los datos. Estos m茅todos te permitir谩n examinar r谩pidamente la estructura de tus datos y comprender sus estad铆sticas clave.


Empezamos por importar las librer铆as que vamos a usar:

### Principales m茅todos de Pandas:

- M茅todos para exploraci贸n b谩sica del *DataFrame*: 

    - `.head()`
    - `.tail()`
    - `.sample()`
    - `.describe()`
    - `.duplicated()`
    - `.isnull()`
    - `.isna()`
    - `.info()`
    - `.columns`

- `.head()`

Muestra las primeras l铆neas de nuestro Dataframe. Por defecto nos ense帽a 5.

In [ ]:
df.head()

In [ ]:
# si queremos ver un n煤mero diferente de filas, se lo podemos especificar

df.head(9)

- `.tail()`

Devuelve las 煤ltimas 5 filas del Dataframe. Al igual que con `.head()`, podemos especificar un n煤mero diferente.

In [ ]:
df.tail()

In [ ]:
df.tail(7)

- `.sample()`

Muestra filas aleatorias. Por defecto nos devuelve 1, pero tambi茅n le podemos dar un valor diferente.

In [ ]:
df.sample()

In [ ]:
df.sample(4)

- `describe()`

Nos devuelve un *DataFrame* con un resumen de los principales estad铆sticos (media, mediana, desviac贸n est谩ndar etc.) de nuestras **columnas num茅ricas**.

In [ ]:
df.describe()

Si queremos ver el `.describe()`de las variables categ贸ricas, tenemos que incluir `include = "object"`. Podemos ver que nos devuelve diferentes estad铆sticas que para las num茅ricas.

- count: El n煤mero total de valores no nulos en la columna.
- unique: El n煤mero de valores 煤nicos en la columna.
- top: El valor m谩s frecuente en la columna.
- freq: La frecuencia del valor m谩s com煤n (el n煤mero de veces que aparece).

In [ ]:
df.describe(include="object")

- `duplicated()`

Devuelve una Serie booleana que indica si cada fila es un duplicado de una fila previamente vista.

In [ ]:
df.duplicated()

Si queremos ver el n煤mero de filas duplicadas de nuestro Dataframe tenemos que usar `.sum()`

In [ ]:
df.duplicated().sum()

- `isnull()` / - `isna()`:

Estos son los m茅todos para ver los valores nulos que tenemos en nuestros datos, podemos usar cualquiera de ellos ya que hacen lo mismo.

Nos devuelve un booleano con los valores que faltan en nuestro DataFrame.

In [ ]:
df.isnull()

Al igual que con los duplicados, podemos usar `.sum()` para poder entender mejor el resultado. Ahora nos devuelve el n煤mero de valores nulos por cada columna.

In [ ]:
df.isnull().sum()

- `info()`

El m茅todo `info()` proporciona un peque帽o resumen que incluye:

- El total de columnas en el DataFrame.
- Los nombres de las columnas.
- La cantidad de valores no nulos en cada columna.
- El tipo de datos de cada columna en el DataFrame.

In [ ]:
df.info()

- `columns`

Nos muestra el nombre de las columnas de nuestro *DataFrame* .

In [ ]:
df.columns

## Ejercicios:

1. Haz las importaciones necesarias para establecer la conxi贸n y trabaar con Pandas.Establece la conexi贸n usando mysql.connector utilizando try/except por si la conexi贸n devielve un error.

2. Crea un nuevo "schema" llamado "alumnas-promo-X"

3. Crea una tabla con la informaci贸n de las alumnas de la promo. Debe incluir: id_alumna, nombre, apellidos, ciudad y tel茅fono.

4. Inserta por lo menos 10 datos en la tabla creada en el ejercicio anterior (pueden ser inventados).

5. Haz una consulta que devuelva todos los registros de la tabla "alumnas" y convi茅rtelo en Dataframe (no te olvides del nombre de las columnas).

6. Muestra los 3 primeros y tres 煤ltimos registros del Dataframe.

7. 驴Hay registros duplicados?

### Bonus:

8. Haz una consulta para extraer las diferentes ciudades en las que hay alumnas.

9. Crea al menos dos Dataframes con la informaci贸n de las alumnas de dos ciudades diferentes (usando dos queries).